<h1>Your Results</h1>

<% if params[:word].blank? %>
  <p>You haven't put anything!</p>
<% elsif !@letters_included %>
  <p><strong><%= params[:word] %></strong>You have used letters that are not included in the original grid</p>
<% elsif !@valid_english_word %>
  <p>The word <strong><%= params[:word] %></strong>is not a valid English word</p>
<% else %>
  <p>Congrats! You got <%= @score %> points with <span><%= params[:word] %></span></p>
  <p>You have a total of: <%= session[:score] %> points</p>
<% end %>

<%= link_to new_game_path, class: 'btn btn-success' do %>
Play Again!
<% end %>
<%= link_to reset_score_path, class: 'btn btn-danger' do%>
Reset Score
<% end %>
<% # link_to 'displayed message', method_name_in_routes_path %>
